<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - AI Diet Planner</title>
</head>
<body>

    <h1>Welcome to AI-Powered Personal Diet Planner</h1>

    <p>You are successfully logged in.</p>

    <h2>Dashboard</h2>

    <a href="/goal">
        <button>Generate Diet Plan</button>
    </a>

    <br><br>

    <a href="/history">
        <button>View Diet History</button>
    </a>

    <br><br>
    <a href ="/upload">
        <button>Upload File to Cloud</button>
    </a>
    <br><br>

<a href="/files">
    <button>My Uploaded Diet Documents</button>
</a>

    <br><br>
    <a href="/logout">
        <button>Logout</button>
    </a>

</body>
</html>