<!DOCTYPE html>
<html>
<head>
    <title>Register-AI Diet Planner</title>
<head>
<body>

    <h1>Create Your Account</h1>

    <form action="/register" method="POST">
        <label>Name:</label>
        <input type = "text" name="name"
 required>
        <br><br>

        <label>Email:</label>
        <input type="email" name="email">
        <br><br>

        <label>Password:</label>
        <input type ="password" name="password"
 required>

        <br><br>

        <label>Age:</label>
        <input type="number"name="age"
 required>
        <br><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>